<!DOCTYPE html>
<html>
<head>
  <title>KremParser</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse krem-nav">
  <div class="navbar-inner">
    <%= link_to "Krem File Parser", root_path, id: "logo" %>
  </div>
</nav>

<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
